/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {
	font-family: PTSans-Bold;
	src: url('PTSans-Bold.ttf');
}

.root {
	-fx-background-color: #FFFFFF;

}

.tree-table-view{
    -fx-tree-table-color: #FF6961;
    -fx-tree-table-rippler-color : #FF6961;
    -fx-alignment: center;
}
.tree-table-view:focused .tree-table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.tree-table-view:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.tree-table-view .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
    -fx-alignment: center;
}

.tree-table-view .column-header ,
.tree-table-view .column-header-background,
.tree-table-view .column-header-background .filler{
    -fx-background-color:TRANSPARENT;
    -fx-alignment: center;
}

.tree-table-view .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
    -fx-alignment: center;
}

.tree-table-view .column-header .label {
    -fx-text-fill : #949494;
    -fx-padding : 16 0 16 0 ;
    -fx-alignment: center;
}

.tree-table-view .column-header .arrow, .tree-table-view .column-header .sort-order-dot{ 
    -fx-background-color : #949494;
}

.tree-table-view .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.tree-table-view .column-header-background{
    -fx-border-width : 0 0.0 1 0;
 -fx-border-color: #F3F3F3;
}

.tree-table-view .tree-table-cell{
    -fx-border-width:0 0 0 0;
    -fx-padding : 16 0 16 0 ;
}

.tree-table-view .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.tree-table-view .column-resize-line, .tree-table-view .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.tree-table-view:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    -fx-padding: 1; 
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; 
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: #FF6961;
}

.button {
	-fx-background-color: #FF6961;
	-fx-text-fill : #FFFFFF;
}

.button:focused {
	-fx-background-color: #FFFFFF;
	-fx-text-fill : #FF6961;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:hover {
	-fx-background-color: #FFFFFF;
	-fx-text-fill : #FF6961;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em; /* 4 8 4 8 */
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:hover > .glyph-icon {
	 -fx-fill: #FF6961;
}

.button:focused > .glyph-icon {
	 -fx-fill: #FF6961;
}

.glyph-icon {
    -fx-fill: #FFFFFF;
}

.choice-box .context-menu { -fx-background-color: #FFFFFF; }

.choice-box .menu-item:focused { -fx-background-color: #FF6961; }

.choice-box .menu-item > .label { -fx-text-fill: #FF6961; }

.choice-box .menu-item:focused > .label { -fx-text-fill: #FFFFFF; }

.choice-box {
  -fx-background-color: #FF6961;
  -fx-mark-color: #FFFFFF; 
}

.choice-box .label {
  -fx-text-fill: #FFFFFF;
}

#lblUpdateStok {
	-fx-background-color: #FF6961;
}
